# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
instance/
.env

# Logs and databases
*.log
*.sqlite

# IDE files
.vscode/
.idea/

# Dependency directories
venv/
*venv/
env/
env.bak/

# Distribution directories
dist/
build/
*.egg-info/